.page{
  padding:40px;
  background:#f5f7fb;
  min-height:100vh;
  font-family: 'Segoe UI', sans-serif;
}

/* TITLE */

.title{
  text-align:center;
  color:#2563eb;
  margin-bottom:5px;
}

.subtitle{
  text-align:center;
  color:#6b7280;
  margin-bottom:40px;
}


/* LAYOUT */

.container{
  display:flex;
  gap:30px;
  align-items:flex-start;
}


/* CARD */

.card{
  background:white;
  border-radius:14px;
  box-shadow:0 8px 30px rgba(0,0,0,0.06);
  padding:30px;
}


/* FORM CARD */

.form-card{
  flex:2;
}

.form-card input,
.form-card select{
  width:100%;
  padding:14px;
  margin:10px 0 20px 0;
  border-radius:8px;
  border:1px solid #e5e7eb;
  font-size:15px;
}

.form-card input:focus,
.form-card select:focus{
  outline:none;
  border-color:#2563eb;
}


/* BUTTON */

.btn{
  width:100%;
  padding:16px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:.3s;
}

.btn:hover{
  background:#1d4ed8;
}


/* SUMMARY */

.summary-card{
  flex:1;
}

.row{
  display:flex;
  justify-content:space-between;
  margin:18px 0;
  color:#374151;
}

.divider{
  height:1px;
  background:#e5e7eb;
  margin:20px 0;
}

.total strong{
  color:#2563eb;
  font-size:18px;
}


/* RESPONSIVE */

@media(max-width:1000px){

  .container{
    flex-direction:column;
  }

  .title,
  .subtitle{
    text-align:left;
  }

}
